<h1 class="text-xl font-bold">Tasks#index</h1>
<p class="mb-1">Find me in app/views/tasks/index.html.erb</p>
<%= link_to '新規登録', new_task_path, class:"border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 mb-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline inline-block" %>
